body {
    background-color: rgb(244, 243, 199);
  }
.ben_hover:hover {
    &:hover {
      color: rgb(253, 40, 97);
      text-decoration: underline;

      &::before {
          visibility: visible;
      }   
  }   
}