{% extends 'layout.html' %}


{% block body %}
<table class="w3-table">
    <tr class="rgb(244, 243, 199)">
      <th>Classes. <p><span style="font-weight:normal;">You can click on a class to view what spells that class can cast.</span></p></th>
    </tr>
    <tr>
        {% for class in classes %}
        <!--Able to click on class name to view what spells that class can cast-->
        <td><a href=" /classes/{{ class }}">{{ class }}</a></td>
    </tr>
    {% endfor %}
    </table>
    
{% endblock %}