{% extends 'layout.html' %}


{% block body %}
<table class="w3-table">
    <tr class="w3-light-grey">
      <th>Spell information</th>
    </tr>
    {% for i in range(6) %}
        <tr>
            <td><b>{{ single_spell_header[i] }}</b>{{ details[i] }} <div class="w3-container">
        </tr>
    {% endfor %}
    </table>
        <form method="GET" action="{{ url_for('delete_spells_save') }}">
            <input type="hidden" name="delete_spells" value="{{details[1]}}">
            <input type="submit" value="Delete">
        </form>
{% endblock %}  